<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments.html :: head}"></head>

<body>
<div th:replace="~{fragments.html :: nav-bar}"></div>

    <div class="container-xl">
        <hr>
        <!-- 메인 로그인 박스 -->
        <div class="row mt-5">
            <div class="col-8 p-0" style="border:1px solid; height:400px;">

            </div>
            <div class="col-4 login-container">
                <div class="bg-light text-center p-4 border border-2" sec:authorize="!isAuthenticated()">
                    <div class="login_title">
                        <p class="m-0">회원가입/로그인하고</p>
                        <p class="m-0">혜택을 만나보세요.</p>
                    </div>
                    <div class="mt-3">
                        <a class="btn btn-primary w-100" href="/login">
                            로그인
                        </a>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <small>SNS로 3초만에 로그인</small>
                        <div>
                        <button class="btn p-0">
                            <img src="/img/kakao.png" width="44" height="44">
                        </button>
                        <button class="btn p-0">
                            <img src="/img/naver.png" width="44" height="44">
                        </button>
                        <button class="btn p-0">
                            <img src="/img/google.png" width="44" height="44">
                        </button>
                        </div>
                    </div>
                </div>

                <div class="bg-light text-center p-4 login-container border border-2" sec:authorize="isAuthenticated()" style="height:212px;">
                    <div class="login_title">
                        <span class="m-0" sec:authentication="name"></span><span>님 환영합니다.</span>
                    </div>
                    <div class="mt-4">
                        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                            <button class="btn btn-danger me-2">로그아웃</button>
                        </form>
                    </div>
                    <div class="d-flex mt-4 justify-content-around bg-white border">
                        <a class="w-100 border-end" th:href="@{'/profile/' + ${#authentication.name}}">
                            <div>
                                <p class="m-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                                        <path d="M512 80c8.8 0 16 7.2 16 16V416c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V96c0-8.8 7.2-16 16-16H512zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM208 256a64 64 0 1 0 0-128 64 64 0 1 0 0 128zm-32 32c-44.2 0-80 35.8-80 80c0 8.8 7.2 16 16 16H304c8.8 0 16-7.2 16-16c0-44.2-35.8-80-80-80H176zM376 144c-13.3 0-24 10.7-24 24s10.7 24 24 24h80c13.3 0 24-10.7 24-24s-10.7-24-24-24H376zm0 96c-13.3 0-24 10.7-24 24s10.7 24 24 24h80c13.3 0 24-10.7 24-24s-10.7-24-24-24H376z"/>
                                    </svg>
                                </p>
                                <p>내 프로필</p>
                            </div>
                        </a>
                        <a class="w-100" th:href="@{'/profile/grouplist/' + ${#authentication.name}}">
                            <div>
                                <p class="m-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                        <path d="M40 48C26.7 48 16 58.7 16 72v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V72c0-13.3-10.7-24-24-24H40zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zM16 232v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V232c0-13.3-10.7-24-24-24H40c-13.3 0-24 10.7-24 24zM40 368c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V392c0-13.3-10.7-24-24-24H40z"/>
                                    </svg>
                                </p>
                                <p>가입 그룹</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="bg-light mt-3" style="border:1px solid; height:168px;">

                </div>
            </div>
        </div>

        <div class="row mt-3" style="border:1px solid; height:250px;">

        </div>
    </div>

<script>
    function resizeHandler() {
        var windowWidth = window.innerWidth;
        var col8Element = document.querySelector(".col-8");
        var col12Element = document.querySelector(".col-12");

        if (windowWidth <= 1100) {
            col8Element.classList.remove("col-8");
            col8Element.classList.add("col-12");
        } else if (windowWidth >= 1102) {
            col12Element.classList.remove("col-12");
            col12Element.classList.add("col-8");
        }
    }
    window.addEventListener("load", resizeHandler);
    window.addEventListener("resize", resizeHandler);
</script>
</body>
</html>